@charset 'utf-8';

/**
 *
 *  トップページ
 *
 */

/*--------------------------------------------------------------------------
   overwrite  - 共通CSSの上書き -
---------------------------------------------------------------------------*/
html,body
{
}

/*--------------------------------------------------------------------------
   Page
---------------------------------------------------------------------------*/
#Page
{
}


/*--------------------------------------------------------------------------
   Header
---------------------------------------------------------------------------*/
#Header {
    background: url(../images/bg-mv.png);
    /*background-repeat: no-repeat;*/
    /*background-color: skyblue;*/
    background-size: cover;
    position: relative;
    width: 100%;

}

#Header h1 {
  float: left;
}

#Header .tel {
  float: right;
}

#Header h2 {
  /*width: 891px;*/
  margin: 0 auto;
  padding-top: 5%;
}

#Header .top_box {
    padding-top: 10px;
    width: 960px;
    position: absolute;
    left: 50%;
    margin-left: -480px;
}

#Header .btn_box {
  width: 900px;
  margin: 0 auto;
  position: absolute;
  top: 90%;
  left: 10%;

}
#Header .btn_box .left {
  float: left;
}

#Header .btn_box .right {
  float: right;
}



/*--------------------------------------------------------------------------
   Content
---------------------------------------------------------------------------*/
#Content
{
}

#Main {

}
.sec02 {
  background-image: url(../images/bg_stripe.gif);
  width: 980px;
  margin: 0 auto;
}



.sec06 {
  background-image: url(../images/06_bg.gif);

}
/*--------------------------------------------------------------------------
   Footer
---------------------------------------------------------------------------*/
#Footer
{
}
