@charset 'utf-8';

/**
 *
 *  トップページ
 *
 */

/*--------------------------------------------------------------------------
   overwrite  - 共通CSSの上書き -
---------------------------------------------------------------------------*/
html,body
{
}

/*--------------------------------------------------------------------------
   Page
---------------------------------------------------------------------------*/
#Page
{
}


/*--------------------------------------------------------------------------
   Header
---------------------------------------------------------------------------*/

#Header
{
  background: url(../images/bg-mv.png);
  background-size: cover;
  position: relative;
  width: 100%;
}

#Header .top_box{
  padding-top: 10px;
  width: 960px;
  position: absolute;
  left: 50%;
  margin-left: -480px;
  overflow: hidden;
}
#Header h1{
  float: left;
}
#Header .tel{
  float: right;
}
#Header h2{
  text-align: center;
  padding-top: 70px;
  padding-bottom: 95px;
}
#Header .btn_box{
  width: 900px;
  position: absolute;
  bottom: 50px;
  /*top: 90%;*/
  left: 50%;
  margin-left: -450px;
}
#Header .btn_box .left{
  float: left;
}
#Header .btn_box .right{
  float: right;
}


/*--------------------------------------------------------------------------
   Content
---------------------------------------------------------------------------*/
#Content
{
}


.sec02 {
  background-image: url(../images/bg_stripe.gif)
}

.sec02 h2 {
  text-align: center;
  /*padding-top: 70px;*/
}

.sec03 {
  position: relative;
  background-image: url(../images/bg-03.png);
  background-size: cover;
  height: 800px;

}
.sec03 h2 {
  text-align: center;
  padding-bottom: 200px;
}

.sec03 .btn {
  position: absolute;
  top: 82%;
  left: 265px;
}

.sec04 {
  background-image: url(../images/bg-04.gif);
  /*background-repeat: no-repeat;*/
  /*background-color: skyblue;*/
  height: 1200px;
}

.sec04 h2 {
  text-align: center;
}

.sec04 .kengaku_box {
  padding-top: 35px;
  width: 960px;
  margin: 0 auto;
}

.sec04 .houseInfo {
  width: 320px;
  height: 424px;
  float: left;
}

.sec04 .txtBoxY {
  background-color: #fef99e;
}
.sec04 .txtBoxB {
  background-color: #dcfdf2;
}
.sec04 .txtBoxP {
  background-color: #ffebf4;
}

.sec04 .txt01 {
  padding-bottom:10px;
  line-height: 100%;
  margin: 15px;
  border-bottom: 2px dotted gray;
}

.sec04 .txt02 {
  margin: 15px;

}

.sec04 .btn {
  text-align: right;
  margin: 15px;
  padding-bottom: 26px;
}

.sec05 h2 {
  text-align: center;
  
}

.sec05 .box01 {
  border: 8px solid gray;
  width: 980px;
  height: 616px;
  box-sizing: border-box;
  border-color: #dcdbdb;
}










/*--------------------------------------------------------------------------
   Footer
---------------------------------------------------------------------------*/
#Footer
{
}
