@charset 'utf-8';

/**
 *
 *  トップページ
 *
 */

/*--------------------------------------------------------------------------
   overwrite  - 共通CSSの上書き -
---------------------------------------------------------------------------*/
html,body{
  min-width: 100%;
}

/*--------------------------------------------------------------------------
   Page
---------------------------------------------------------------------------*/
#Page
{
}


/*--------------------------------------------------------------------------
   Header
---------------------------------------------------------------------------*/

.pc {
  display: none;
}

#Header
{
  background: url(../images/bg-mv.png);
  background-size: cover;
  width: 100vw;
}

#Header img {
  max-width: 100%;
  height: auto;
}

#Header .top_box {
  width: 80%;
  margin: 0 auto;
  padding-top: 5%;
}

#Header h1 {
  float: left;
  width: 15%;
}


#Header .top_box p {
  float: left;
  width: 70%;
  padding-top: 5%;
  padding-left: 12%;
}

#Header h2 {
  width: 100%;
}

#Header .btn_box {
  width: 80%;
  margin: 0 auto;
  text-align: center;
  padding: 5% 0;
}

#Header p {
  width: 100%;
  margin: 0 auto;
  padding: 1%;

}
/*--------------------------------------------------------------------------
   Content
---------------------------------------------------------------------------*/
#Content {
  width: 100vw;
}

#Content img {
  max-width: 100%;
  height: auto;
}
section {
  overflow: hidden;
}

.sec02 {
  background: url(../images/02_bg.gif);

}
.sec02 h2 {
  padding-top: 5%;
  width: 90%;
  margin: 0 auto;
}

.sec02 p {
  padding-top: 1%;
  width: 90%;
  margin: 0 auto;
}

.sec03 {
  background: url(../images/03_bg.gif);
  background-size: cover;

}

.sec03 h2 {
  padding-left: 17%;
  padding-bottom: 1%;
  width: 75%;
  margin: 0 auto;
}

.sec03 ul {
  text-align: center;
  padding-top: 1%;
  width: 90%;
  margin: 0 auto;
}

.sec03 li {
  padding-bottom: 2%;
}

.sec03 ul li.third {
  padding-bottom: 1%;
}
.sec03 p {
  width: 90%;
  margin: 0 auto;
  padding-top: 1%;
  padding-bottom: 5%;
}

.sec04 {
  background: url(../images/04_bg.gif);
  overflow: hidden;
  padding-bottom: 10%;
  overflow: hidden;
  border-top: 4px solid #008bd5;

}

.sec04 h2 {
  padding: 5%;
  margin: 0 auto;
}

.sec04 ul {
  width: 85%;
  /*height: 870px;*/
  margin: 0 auto;
  padding-bottom: 5%;
}

.sec04 li {
  width: 100%;
  /*height: 424px;*/
  float: left;
}

.sec04 li .housePict {
  width: 100%;
}

.sec04 .txtBoxY {
  background-color: #fef99e;
}
.sec04 .txtBoxB {

  background-color: #dcfdf2;
}
.sec04 .txtBoxP {
  background-color: #ffebf4;
}

.sec04 .txt1 {
  width: 80%;
  padding: 3% 0 3% 7%;
  line-height: 130%;
  border-bottom: 2px dotted #adacac;
}

.sec04 .txt2 {
  padding: 3% 0 3% 7%;
  line-height: 150%;

}

.sec04 .btn {
  float: right;
  padding: 1% 3% 5% 0;
}

.sec05 {
  background: url(../images/05_bg.gif);
}



.sec05 h2 {
  border-top: 4px solid #00b277;
  padding: 8%;
  text-align: center;
}

.sec05 .box {
  width: 90%;
  margin: 0 auto;
}

.sec05 ul {
  position: relative;
}

.sec05 li {
  overflow: hidden;
}


.sec05 div ul li div.left {
  overflow: hidden;
}
.sec05 div ul li div.left p {
  float: left;
  width: 25%;
}
.sec05 div ul li div.left p.title {
  float: left;
  width: 60%;
  padding: 3% 0 3% 6%;
}
.sec05 div ul li div.left p.title img{
  width: 100%;
}

.sec05 div ul li div.center {
  padding: 3%;
  border-top: 3px dotted #dcdbdb;
  margin-top: 2%;
}

.sec05 div ul li p.right {
  padding-bottom: 5%;
  width: 65%;
  margin: 0 auto;
}
.sec05 div ul li p.right img {
  width: 100%;
}

#Main > section.sec05 > div.sp > div > ul > li.second > div.left > p.title {
  padding-top: 6%;
  width: 65%;
}
#Main > section.sec05 > div.sp > div > ul > li.third > div.left > p.title {
  padding-top: 6%;
}


.sec06 {
  background: url(../images/06_bg.gif);
  padding-top: 3%;
  padding-bottom: 5%;
}

.sec06 h2 {
  width: 90%;
  margin: 0 auto;
  padding: 5%;
}
.sec06 ul {
  width: 80%;
  margin: 0 auto;
  padding-bottom: ;

}

.sec06 ul li {
  width: 100%;
  float: left;
  padding-bottom: 5%;
}

.sec06 ul li img {
  width: 100%;
}

.sec07 {
  background: url(../images/07_bg.png);
}

.sec07 h2 {
  width: 90%;
  margin: 0 auto;
  padding: 8% 0;
}

.sec07 ul {
  width: 85%;
  margin: 0 auto;
  padding-bottom: 50px;
  background-position: 50% 80px;

}
.sec07 ul li {
  width: 100%;
  margin: 0 auto;
  float: left;
  height: 30%;
  background-color: white;
  border-radius: 12px;
  margin-bottom: 5%;
}


.sec07 ul li p {
  width: 85%;
  margin: 0 auto;
  padding: 6%;
  font-weight: bold;
}

.sec07 ul li img {
  width: 100%;
}

.sec08 {
  padding: 5% 0;
  background: url(../images/05_bg.gif);
}
.sec08 h2 {
  width: 90%;
  margin: 0 auto;
  padding-bottom: 5%;

}


.sec08 .box {
  width: 90%;
  margin: 0 auto;

}

.sec08 .left {
  width: 80%;
  margin: 0 auto;
  padding-bottom: 5%;
}
.sec08 .right {
  width: 80%;
  margin: 0 auto;
  display: block;
}

.sec09 {
  padding: 5% 0;
  width: 90%;
  margin: 0 auto;
  border-bottom: 2px solid #e6e5e5;
}

.sec10 {
  padding: 8% 0;
  background-color: #f5f5f5;
}
.sec10 h2 {
  width: 80%;
  margin: 0 auto;
  text-align: center;
  padding-bottom: 5%;
}

.sec10 ul {

  width: 100%;
  margin: 0 auto;
}

.sec10 ul li {
  display: block;
  width: 85%;
  margin: 0 auto;
  padding-bottom: 5%;
}

.sec10 p {
  color: #8f8f8f;
  width: 100%;
}
.sec10 p.tx15 {
  width: 80%;
  border-bottom: 2px dotted #dcdbdb;
  padding: 5px;
  padding-left: 0;
}

.sec10 p.tx13 {
  margin-top: 5px;
}

.sec10 p.tx17 {
  padding-bottom: 10px;
}

.sec10 p img {
  width: 100%;
}

/*--------------------------------------------------------------------------
   Footer
---------------------------------------------------------------------------*/


#Footer {
  background-color: #00b277;
  width: 100%;
}

#Footer .footer_inner {
  width: 100%;
  text-align: center;
}

#Footer .copyright {
  color: white;
  padding: 5%;
}
