@charset 'utf-8';

/**
 *
 *  トップページ
 *
 */

/*--------------------------------------------------------------------------
   overwrite  - 共通CSSの上書き -
---------------------------------------------------------------------------*/
html,body
{
}

/*--------------------------------------------------------------------------
   Page
---------------------------------------------------------------------------*/
#Page
{
}


/*--------------------------------------------------------------------------
   Header
---------------------------------------------------------------------------*/
.sp {
  display: none;
}

#Header
{
  background: url(../images/bg-mv.png);
  background-size: cover;
  position: relative;
  width: 100%;
}

#Header .top_box{
  padding-top: 10px;
  width: 960px;
  position: absolute;
  left: 50%;
  margin-left: -480px;
}
#Header h1{
  float: left;
}
#Header .tel{
  float: right;
}
#Header h2{
  text-align: center;
  padding-top: 50px;
  padding-bottom: 70px;
}
#Header .btn_box{
  width: 900px;
  position: absolute;
  bottom: 20px;
  left: 50%;
  margin-left: -450px;
  padding-bottom: 30px;
}
#Header .btn_box .left{
  float: left;
}
#Header .btn_box .right{
  float: right;
}

/*--------------------------------------------------------------------------
   Content
---------------------------------------------------------------------------*/
#Content
{
}

section {
  overflow: hidden;
}

.sec02 {
  background: url(../images/02_bg.gif);
}
.sec02 h2 {
  padding-top: 60px;
  text-align: center;
}

.sec02 p {
  padding-top: 10px;
  text-align: center;
}

.sec03 {
  background: url(../images/03_bg.gif);
  background-size: cover;
  background-repeat: no-repeat;
}

.sec03 h2 {
  padding-left: 310px;
  padding-bottom: 10px;
}

.sec03 ul {
  text-align: center;
  padding-top: 10px;
}

.sec03 li {
  padding-bottom: 15px;
}

.sec03 ul li.third {
  padding-bottom: 5px;
}
.sec03 p {
  text-align: center;
  padding-top: 20px;
  padding-bottom: 50px;
}

.sec04 {
  background: url(../images/04_bg_03.png);
  overflow: hidden;
  border-top: 4px solid #008bd5;

}

.sec04 h2 {
  padding: 30px;
  text-align: center;
}

.sec04 ul {
  width: 960px;
  height: 870px;
  margin: 0 auto;
  padding-bottom: 50px;
}

.sec04 li {
  width: 320px;
  height: 424px;
  float: left;

}

.sec04 .txtBoxY {
  width: 320px;
  height: 214px;
  background-color: #fef99e;
}
.sec04 .txtBoxB {
  width: 320px;
  height: 214px;
  background-color: #dcfdf2;
}
.sec04 .txtBoxP {
  width: 320px;
  height: 214px;
  background-color: #ffebf4;
}

.sec04 .txt1 {
  padding-top: 15px;
  padding-bottom: 10px;
  padding-left: 20px;
  line-height: 130%;
  border-bottom: 2px dotted #adacac;
}

.sec04 .txt2 {
  padding-top: 10px;
  padding-left: 20px;
  line-height: 150%;

}

.sec04 .btn {
  padding-top: 15px;
  padding-left: 115px;
}

.sec05 {
  background: url(../images/05_bg.gif);
}

.sec05 h2 {
  border-top: 4px solid #00b277;
  padding: 30px 0;
  text-align: center;
}

.sec05 .box {
  margin: 0 auto;
  border: 8px solid #dcdbdb;
  border-radius: 35px;
  width: 980px;
  margin-bottom: 50px;
  overflow: hidden;

}

.sec05 ul {
  position: relative;
}

.sec05 li {
  overflow: hidden;
}

.sec05 div ul li.first{
  background-color: white;
}
.sec05 div ul li.second{
  background-color: #f7f7f7;
}
.sec05 div ul li.third{
  background-color: white;
}
.sec05 div ul li p.left {
  float: left;
}

.sec05 div ul li div.center {
  width: 510px;
  float: left;

}


.sec05 div ul li p.title {
  padding-top: 30px;
  margin-left: 30px;
  padding-bottom: 18px;
  border-bottom: 3px dotted #dcdbdb;
}

.sec05 div ul li p.text {
  padding-top: 30px;
  padding-left: 30px;
}

.sec05 div ul li p.right {
  padding: 30px;
  float: right;
}

.sec06 {
  background: url(../images/06_bg.gif);
}

.sec06 h2 {
  padding: 30px 0;
  text-align: center;
}
.sec06 ul {
  width: 1100px;
  margin: 0 auto;
  padding-bottom: 50px;

}

.sec06 ul li {
  float: left;
  padding-left: 50px;
}

.sec07 {
  background: url(../images/07_bg.png);
}

.sec07 h2 {
  padding: 30px 0;
  text-align: center;
}

.sec07 ul {
  width: 880px;
  margin: 0 auto;
  padding-bottom: 50px;
  background: url(../images/07_trail.png);
  background-repeat: no-repeat;
  background-position: 50% 80px;

}
.sec07 ul li {
  float: left;
  height: 310px;
  margin-bottom: 60px;
  background-color: white;
  border-radius: 12px;
}
.sec07 ul li.st1,
.sec07 ul li.st3,
.sec07 ul li.st5 {
  margin-right: 160px;
}

.sec07 ul li p {
  margin-top: 20px;
  margin-left: 20px;
  font-weight: bold;
}

.sec08 {
  padding: 50px;
  background: url(../images/05_bg.gif);
}
.sec08 h2 {
  text-align: center;
  padding-bottom: 25px;

}
.sec08 .box {
  width: 800px;
  margin: 0 auto;

}

.sec08 .left {
  float: left;
}

.sec08 .right img {
  display: none;
}

.sec08 p.right {
  background: url("../images/08_btn3a.png");
}

.sec08 .right {
  float: right;
  width: 390px;
  height: 220px;
  display: block;
  background: url("../images/08_btn3a.png");
}

.sec08 .right:hover {
  background: url("../images/08_btn3.png");

}
.sec09 {
  padding: 40px;
  text-align: center;
  border-bottom: 2px solid #e6e5e5;
}

.sec10 {
  padding: 50px;
  background-color: #f5f5f5;
}
.sec10 h2 {
  text-align: center;
  padding-bottom: 50px;
}

.sec10 ul {
  width: 980px;
  margin: 0 auto;
}

.sec10 ul li {
  width: 280px;
  float: left;
  margin-right: 70px;
}
.sec10 ul li.last {
  margin-right: 0;
}

.sec10 p {
  color: #8f8f8f;
}
.sec10 p.tx15 {
  border-bottom: 2px dotted #dcdbdb;
  padding: 5px;
  padding-left: 0;
}

.sec10 p.tx13 {
  margin-top: 5px;
}

.sec10 p.tx17 {
  padding-bottom: 10px;
}

/*--------------------------------------------------------------------------
   Footer
---------------------------------------------------------------------------*/
#Footer {
  text-align: center;
  background-color: #00b277;
}

#Footer .copyright {
  color: white;
  padding: 40px;
  
}
