@charset "utf-8";

/**
 *
 *  コンテンツ共通
 *
 */

/*--------------------------------------------------------------------------
   汎用スタイル
---------------------------------------------------------------------------*/


/* (例) アイコン
-----------------------------------------------------------------*/
/*
.ico-link01{
	display: inline-block;
	padding-left: 15px;
	background: url(/shared/images/ico_arrow01.png) no-repeat 0 .3em;
}
*/


/*--------------------------------------------------------------------------
   汎用テンプレート
---------------------------------------------------------------------------*/

/* タイトル下バー
-----------------------------------------------------------------*/
.underbar{
	margin-bottom: 9px;
}

/* (例) レイアウト枠
-----------------------------------------------------------------*/
/*
.inner-base{
	padding: 15px 20px;
}
*/

/* (例) リスト
-----------------------------------------------------------------*/
/*
.list-circle li{
	padding-left: 10px;
	background: url(/shared/images/ico_circle01) no-repeat 0 .3em;
}
*/


/*--------------------------------------------------------------------------
   共通パーツ
---------------------------------------------------------------------------*/

/* xxx
-----------------------------------------------------------------*/
.xxx-cmn{
}

