﻿@charset "utf-8";

.tx10 { font-size: 77% !important ; } /*renders 10px */
.tx11 { font-size: 85% !important ; } /*renders 11px */
.tx12 { font-size: 93% !important ; } /*renders 12px */
.tx14 { font-size: 108% !important ; } /*renders 14px */
.tx15 { font-size: 116% !important ; } /*renders 15px */
.tx16 { font-size: 123.1% !important ; } /*renders 16px */
.tx17 { font-size: 131% !important ; } /*renders 17px */
.tx18 { font-size: 138.5% !important ; } /*renders 18px */
.tx19 { font-size: 146.5% !important ; } /*renders 19px */
.tx20 { font-size: 153.9% !important ; } /*renders 20px */
.tx21 { font-size: 161.6% !important ; } /*renders 21px */
.tx22 { font-size: 167% !important ; } /*renders 22px */
.tx23 { font-size: 174% !important ; } /*renders 23px */
.tx24 { font-size: 182% !important ; } /*renders 24px */
.tx25 { font-size: 189% !important ; } /*renders 25px */
.tx26 { font-size: 197% !important ; } /*renders 26px */


/* text-align */
.tx_L { text-align: left !important ; }
.tx_C { text-align: center !important ; }
.tx_R { text-align: right !important ; }
.tx_j { text-align: justify; text-justify: inter-ideograph !important ; }


/* vertical-align */
.va_T { vertical-align: top !important ; }
.va_M { vertical-align: middle !important ; }
.va_B { vertical-align: bottom !important ; }


/* float */
.fl_L { float: left !important ; }
.fl_R { float: right !important ; }
.fl_n { float: none !important ; }


/* overflow */
.hidden { overflow: hidden !important ; }
.scroll { overflow: scroll !important ; }
.scroll-y { overflow-y: scroll !important ; }


/* line-height */
.lh0   { line-height: 0 !important ; }
.lh10  { line-height: 1.0 !important ; }
.lh11  { line-height: 1.1 !important ; }
.lh12  { line-height: 1.2 !important ; }
.lh13  { line-height: 1.3 !important ; }
.lh14  { line-height: 1.4 !important ; }
.lh15  { line-height: 1.5 !important ; }
.lh16  { line-height: 1.6 !important ; }
.lh17  { line-height: 1.7 !important ; }
.lh175 { line-height: 1.75 !important ; }
.lh18  { line-height: 1.8 !important ; }
.lh19  { line-height: 1.9 !important ; }
.lh20  { line-height: 2.0 !important ; }


/* clearfix */
.cFix:after  { content: "."; display: block; clear: both; height: 0; visibility: hidden; }
.cFix        { min-height: 1px; }
* html .cFix { height: 1px; /*\*//*/ height: auto; overflow: hidden; /**/ }


/* margin */

.m0    { margin: 0 !important ; }
.m1    { margin: 1px !important ; }
.m2    { margin: 2px !important ; }
.m3    { margin: 3px !important ; }
.m4    { margin: 4px !important ; }
.m5    { margin: 5px !important ; }
.m6    { margin: 6px !important ; }
.m7    { margin: 7px !important ; }
.m8    { margin: 8px !important ; }
.m9    { margin: 9px !important ; }
.m10    { margin: 10px !important ; }
.m15    { margin: 15px !important ; }
.m20    { margin: 20px !important ; }
.m25    { margin: 25px !important ; }
.m30    { margin: 30px !important ; }
.m35    { margin: 35px !important ; }
.m40    { margin: 40px !important ; }
.m45    { margin: 45px !important ; }
.m50    { margin: 50px !important ; }
.m55    { margin: 55px !important ; }
.m60    { margin: 60px !important ; }
.m65    { margin: 65px !important ; }
.m70    { margin: 70px !important ; }
.m75    { margin: 75px !important ; }
.m80    { margin: 80px !important ; }
.m85    { margin: 85px !important ; }
.m90    { margin: 90px !important ; }
.m95    { margin: 95px !important ; }
.m100    { margin: 100px !important ; }
.m110    { margin: 110px !important ; }
.m120    { margin: 120px !important ; }
.m130    { margin: 130px !important ; }
.m140    { margin: 140px !important ; }
.m150    { margin: 150px !important ; }
.m160    { margin: 160px !important ; }
.m170    { margin: 170px !important ; }
.m180    { margin: 180px !important ; }
.m190    { margin: 190px !important ; }
.m200    { margin: 200px !important ; }
.m220    { margin: 220px !important ; }
.m240    { margin: 240px !important ; }
.m260    { margin: 260px !important ; }
.m280    { margin: 280px !important ; }
.m300    { margin: 300px !important ; }

.m0A    { margin: 0 auto !important ; }

.mt0   { margin-top:  0px !important ; }
.mt1   { margin-top:  1px !important ; }
.mt3   { margin-top:  3px !important ; }
.mt5   { margin-top:  5px !important ; }
.mt7   { margin-top:  7px !important ; }
.mt10  { margin-top: 10px !important ; }
.mt15  { margin-top: 15px !important ; }
.mt20  { margin-top: 20px !important ; }
.mt25  { margin-top: 25px !important ; }
.mt30  { margin-top: 30px !important ; }
.mt35  { margin-top: 35px !important ; }
.mt40  { margin-top: 40px !important ; }
.mt45  { margin-top: 45px !important ; }
.mt50  { margin-top: 50px !important ; }
.mt55  { margin-top: 55px !important ; }
.mt60  { margin-top: 60px !important ; }
.mt65  { margin-top: 65px !important ; }
.mt70  { margin-top: 70px !important ; }
.mt75  { margin-top: 75px !important ; }
.mt80  { margin-top: 80px !important ; }
.mt85  { margin-top: 85px !important ; }
.mt90  { margin-top: 90px !important ; }
.mt95  { margin-top: 95px !important ; }
.mt100 { margin-top: 100px !important ; }

.mrA   { margin-right: auto !important ; }
.mr0   { margin-right:  0px !important ; }
.mr1   { margin-right:  1px !important ; }
.mr3   { margin-right:  3px !important ; }
.mr5   { margin-right:  5px !important ; }
.mr7   { margin-right:  7px !important ; }
.mr10  { margin-right: 10px !important ; }
.mr15  { margin-right: 15px !important ; }
.mr20  { margin-right: 20px !important ; }
.mr25  { margin-right: 25px !important ; }
.mr30  { margin-right: 30px !important ; }
.mr35  { margin-right: 35px !important ; }
.mr40  { margin-right: 40px !important ; }
.mr45  { margin-right: 45px !important ; }
.mr50  { margin-right: 50px !important ; }
.mr55  { margin-right: 55px !important ; }
.mr60  { margin-right: 60px !important ; }
.mr65  { margin-right: 65px !important ; }
.mr70  { margin-right: 70px !important ; }
.mr75  { margin-right: 75px !important ; }
.mr80  { margin-right: 80px !important ; }
.mr85  { margin-right: 85px !important ; }
.mr90  { margin-right: 90px !important ; }
.mr95  { margin-right: 95px !important ; }
.mr100 { margin-right: 100px !important ; }

.mb0   { margin-bottom:  0px !important ; }
.mb1   { margin-bottom:  1px !important ; }
.mb3   { margin-bottom:  3px !important ; }
.mb5   { margin-bottom:  5px !important ; }
.mb7   { margin-bottom:  7px !important ; }
.mb10  { margin-bottom: 10px !important ; }
.mb15  { margin-bottom: 15px !important ; }
.mb20  { margin-bottom: 20px !important ; }
.mb25  { margin-bottom: 25px !important ; }
.mb30  { margin-bottom: 30px !important ; }
.mb35  { margin-bottom: 35px !important ; }
.mb40  { margin-bottom: 40px !important ; }
.mb45  { margin-bottom: 45px !important ; }
.mb50  { margin-bottom: 50px !important ; }
.mb55  { margin-bottom: 55px !important ; }
.mb60  { margin-bottom: 60px !important ; }
.mb65  { margin-bottom: 65px !important ; }
.mb70  { margin-bottom: 70px !important ; }
.mb75  { margin-bottom: 75px !important ; }
.mb80  { margin-bottom: 80px !important ; }
.mb85  { margin-bottom: 85px !important ; }
.mb90  { margin-bottom: 90px !important ; }
.mb95  { margin-bottom: 95px !important ; }
.mb100 { margin-bottom: 100px !important ; }

.mlA   { margin-left: auto !important ; }
.ml0   { margin-left:  0px !important ; }
.ml1   { margin-left:  1px !important ; }
.ml3   { margin-left:  3px !important ; }
.ml5   { margin-left:  5px !important ; }
.ml7   { margin-left:  7px !important ; }
.ml10  { margin-left: 10px !important ; }
.ml15  { margin-left: 15px !important ; }
.ml20  { margin-left: 20px !important ; }
.ml25  { margin-left: 25px !important ; }
.ml30  { margin-left: 30px !important ; }
.ml35  { margin-left: 35px !important ; }
.ml40  { margin-left: 40px !important ; }
.ml45  { margin-left: 45px !important ; }
.ml50  { margin-left: 50px !important ; }
.ml55  { margin-left: 55px !important ; }
.ml60  { margin-left: 60px !important ; }
.ml65  { margin-left: 65px !important ; }
.ml70  { margin-left: 70px !important ; }
.ml75  { margin-left: 75px !important ; }
.ml80  { margin-left: 80px !important ; }
.ml85  { margin-left: 85px !important ; }
.ml90  { margin-left: 90px !important ; }
.ml95  { margin-left: 95px !important ; }
.ml100 { margin-left: 100px !important ; }


/* padding */

.p0    { padding: 0 !important ; }
.p1    { padding: 1px !important ; }
.p2    { padding: 2px !important ; }
.p3    { padding: 3px !important ; }
.p4    { padding: 4px !important ; }
.p5    { padding: 5px !important ; }
.p6    { padding: 6px !important ; }
.p7    { padding: 7px !important ; }
.p8    { padding: 8px !important ; }
.p9    { padding: 9px !important ; }
.p10    { padding: 10px !important ; }
.p15    { padding: 15px !important ; }
.p20    { padding: 20px !important ; }
.p25    { padding: 25px !important ; }
.p30    { padding: 30px !important ; }
.p35    { padding: 35px !important ; }
.p40    { padding: 40px !important ; }
.p45    { padding: 45px !important ; }
.p50    { padding: 50px !important ; }
.p55    { padding: 55px !important ; }
.p60    { padding: 60px !important ; }
.p65    { padding: 65px !important ; }
.p70    { padding: 70px !important ; }
.p75    { padding: 75px !important ; }
.p80    { padding: 80px !important ; }
.p85    { padding: 85px !important ; }
.p90    { padding: 90px !important ; }
.p95    { padding: 95px !important ; }
.p100    { padding: 100px !important ; }
.p110    { padding: 110px !important ; }
.p120    { padding: 120px !important ; }
.p130    { padding: 130px !important ; }
.p140    { padding: 140px !important ; }
.p150    { padding: 150px !important ; }
.p160    { padding: 160px !important ; }
.p170    { padding: 170px !important ; }
.p180    { padding: 180px !important ; }
.p190    { padding: 190px !important ; }
.p200    { padding: 200px !important ; }
.p220    { padding: 220px !important ; }
.p240    { padding: 240px !important ; }
.p260    { padding: 260px !important ; }
.p280    { padding: 280px !important ; }
.p300    { padding: 300px !important ; }

.pt0   { padding-top:  0px !important ; }
.pt1   { padding-top:  1px !important ; }
.pt3   { padding-top:  3px !important ; }
.pt5   { padding-top:  5px !important ; }
.pt7   { padding-top:  7px !important ; }
.pt10  { padding-top: 10px !important ; }
.pt15  { padding-top: 15px !important ; }
.pt20  { padding-top: 20px !important ; }
.pt25  { padding-top: 25px !important ; }
.pt30  { padding-top: 30px !important ; }
.pt35  { padding-top: 35px !important ; }
.pt40  { padding-top: 40px !important ; }
.pt45  { padding-top: 45px !important ; }
.pt50  { padding-top: 50px !important ; }
.pt55  { padding-top: 55px !important ; }
.pt60  { padding-top: 60px !important ; }
.pt65  { padding-top: 65px !important ; }
.pt70  { padding-top: 70px !important ; }
.pt75  { padding-top: 75px !important ; }
.pt80  { padding-top: 80px !important ; }
.pt85  { padding-top: 85px !important ; }
.pt90  { padding-top: 90px !important ; }
.pt95  { padding-top: 95px !important ; }
.pt100 { padding-top: 100px !important ; }

.pr0   { padding-right:  0px !important ; }
.pr1   { padding-right:  1px !important ; }
.pr3   { padding-right:  3px !important ; }
.pr5   { padding-right:  5px !important ; }
.pr7   { padding-right:  7px !important ; }
.pr10  { padding-right: 10px !important ; }
.pr15  { padding-right: 15px !important ; }
.pr20  { padding-right: 20px !important ; }
.pr25  { padding-right: 25px !important ; }
.pr30  { padding-right: 30px !important ; }
.pr35  { padding-right: 35px !important ; }
.pr40  { padding-right: 40px !important ; }
.pr45  { padding-right: 45px !important ; }
.pr50  { padding-right: 50px !important ; }
.pr55  { padding-right: 55px !important ; }
.pr60  { padding-right: 60px !important ; }
.pr65  { padding-right: 65px !important ; }
.pr70  { padding-right: 70px !important ; }
.pr75  { padding-right: 75px !important ; }
.pr80  { padding-right: 80px !important ; }
.pr85  { padding-right: 85px !important ; }
.pr90  { padding-right: 90px !important ; }
.pr95  { padding-right: 95px !important ; }
.pr100 { padding-right: 100px !important ; }

.pb0   { padding-bottom:  0px !important ; }
.pb1   { padding-bottom:  1px !important ; }
.pb3   { padding-bottom:  3px !important ; }
.pb5   { padding-bottom:  5px !important ; }
.pb7   { padding-bottom:  7px !important ; }
.pb10  { padding-bottom: 10px !important ; }
.pb15  { padding-bottom: 15px !important ; }
.pb20  { padding-bottom: 20px !important ; }
.pb25  { padding-bottom: 25px !important ; }
.pb30  { padding-bottom: 30px !important ; }
.pb35  { padding-bottom: 35px !important ; }
.pb40  { padding-bottom: 40px !important ; }
.pb45  { padding-bottom: 45px !important ; }
.pb50  { padding-bottom: 50px !important ; }
.pb55  { padding-bottom: 55px !important ; }
.pb60  { padding-bottom: 60px !important ; }
.pb65  { padding-bottom: 65px !important ; }
.pb70  { padding-bottom: 70px !important ; }
.pb75  { padding-bottom: 75px !important ; }
.pb80  { padding-bottom: 80px !important ; }
.pb85  { padding-bottom: 85px !important ; }
.pb90  { padding-bottom: 90px !important ; }
.pb95  { padding-bottom: 95px !important ; }
.pb100 { padding-bottom: 100px !important ; }

.pl0   { padding-left:  0px !important ; }
.pl1   { padding-left:  1px !important ; }
.pl3   { padding-left:  3px !important ; }
.pl5   { padding-left:  5px !important ; }
.pl7   { padding-left:  7px !important ; }
.pl10  { padding-left: 10px !important ; }
.pl15  { padding-left: 15px !important ; }
.pl20  { padding-left: 20px !important ; }
.pl25  { padding-left: 25px !important ; }
.pl30  { padding-left: 30px !important ; }
.pl35  { padding-left: 35px !important ; }
.pl40  { padding-left: 40px !important ; }
.pl45  { padding-left: 45px !important ; }
.pl50  { padding-left: 50px !important ; }
.pl55  { padding-left: 55px !important ; }
.pl60  { padding-left: 60px !important ; }
.pl65  { padding-left: 65px !important ; }
.pl70  { padding-left: 70px !important ; }
.pl75  { padding-left: 75px !important ; }
.pl80  { padding-left: 80px !important ; }
.pl85  { padding-left: 85px !important ; }
.pl90  { padding-left: 90px !important ; }
.pl95  { padding-left: 95px !important ; }
.pl100 { padding-left: 100px !important ; }

/* width */
.w5 { width: 5px !important ; }
.w10 { width: 10px !important ; }
.w15 { width: 15px !important ; }
.w20 { width: 20px !important ; }
.w25 { width: 25px !important ; }
.w30 { width: 30px !important ; }
.w35 { width: 35px !important ; }
.w40 { width: 40px !important ; }
.w45 { width: 45px !important ; }
.w50 { width: 50px !important ; }
.w55 { width: 55px !important ; }
.w60 { width: 60px !important ; }
.w65 { width: 65px !important ; }
.w70 { width: 70px !important ; }
.w75 { width: 75px !important ; }
.w80 { width: 80px !important ; }
.w85 { width: 85px !important ; }
.w90 { width: 90px !important ; }
.w95 { width: 95px !important ; }
.w100 { width: 100px !important ; }
.w110 { width: 110px !important ; }
.w120 { width: 120px !important ; }
.w130 { width: 130px !important ; }
.w140 { width: 140px !important ; }
.w150 { width: 150px !important ; }
.w160 { width: 160px !important ; }
.w170 { width: 170px !important ; }
.w180 { width: 180px !important ; }
.w190 { width: 190px !important ; }
.w200 { width: 200px !important ; }
.w210 { width: 210px !important ; }
.w220 { width: 220px !important ; }
.w230 { width: 230px !important ; }
.w240 { width: 240px !important ; }
.w250 { width: 250px !important ; }
.w260 { width: 260px !important ; }
.w270 { width: 270px !important ; }
.w280 { width: 280px !important ; }
.w290 { width: 290px !important ; }
.w300 { width: 300px !important ; }
.w5p { width: 5% !important ; }
.w10p { width: 10% !important ; }
.w15p { width: 15% !important ; }
.w20p { width: 20% !important ; }
.w25p { width: 25% !important ; }
.w30p { width: 30% !important ; }
.w33p { width: 33% !important ; }
.w35p { width: 35% !important ; }
.w40p { width: 40% !important ; }
.w45p { width: 45% !important ; }
.w50p { width: 50% !important ; }
.w55p { width: 55% !important ; }
.w60p { width: 60% !important ; }
.w65p { width: 65% !important ; }
.w70p { width: 70% !important ; }
.w75p { width: 75% !important ; }
.w80p { width: 80% !important ; }
.w85p { width: 85% !important ; }
.w90p { width: 90% !important ; }
.w95p { width: 95% !important ; }
.w100p { width: 100% !important ; }

.bold { font-weight: bold !important; }
.weightNormal { font-weight:normal !important; }